.enhancedQuestion-enabled {
	&.inlineFeedback-enabled {
		.feedback__title {
			font-weight: @font-weight-bold;
			padding-top: @component-body-margin;
			padding-bottom: @component-body-margin;
		}
	}
}

.enhancedQuestion {
  &__popup-image {
		margin-bottom: @notify-title-margin;

		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			min-width: 0;
		}
  }
}
