.enhanced-question-enabled {

	.feedback-icon {
		position:relative;
		float: left;
        .dir-rtl & {
            float: right;
        }
	}

	.feedback {
		padding-left: 80px;
        .dir-rtl & {
        	padding-left: 0px;
            padding-right: 80px;
        }
        margin-bottom: @component-padding * 2;
	}

	.feedback-title {
		font-weight: @font-weight-bold;
		padding-top: 12px;
		padding-bottom: @component-padding;
	}

	.buttons-marking-icon {
      position: relative;
      left:50%;
      top:50%;
      width: 42px;
      height: 42px;
      font-size: 32px;
      line-height: 42px;
      text-align: center;
      border-radius: 50%;
      color: @button-text-color;
      border: @button-border;
      box-shadow: 0 2px 6px rgba(0,0,0,0.4);

      .dir-rtl & {
        left: inherit;
        right: 50%;
      }
      &.icon-tick {
        background-color: @validation-success;
      }
      &.icon-cross {
        background-color: @validation-error;
      }
		}

}

.notify {
	.feedback-icon {
		margin-bottom: @notify-padding;
		img {
		    display: block;
		    margin-left: auto;
		    margin-right: auto;
		}
	}
}
