{{! make the _globals object in course.json available to this template}}
{{import_globals}}
<div class="feedback{{#if _canShowMarking}} marking-enabled{{/if}}">

  {{#if _enhancedQuestion._feedbackTitle._isEnabled}}
  <div class="feedback__title">
    {{{compile feedbackTitle}}}
  </div>
  {{/if}}

  {{#if feedbackMessage}}
  <div class="feedback__message">
    {{{compile feedbackMessage}}}
  </div>
  {{/if}}

</div>
