{{import_globals}}

<div class="inlineFeedback__inner">

  {{#if _enhancedQuestion._feedbackTitle._isEnabled}}
  <div class="feedback__title">
    {{{compile feedbackTitle}}}
  </div>
  {{/if}}

  {{#if feedbackMessage}}
  <div class="feedback__message">
    {{{compile feedbackMessage}}}
  </div>
  {{/if}}

</div>
