<div class="feedback-icon">
    <div class="buttons-marking-icon icon display-none"></div>
</div>
<div class="feedback">
    <div class="feedback-title display-none"></div>
    <div class="feedback-message display-none"></div>
</div>